{% extends 'base.html' %}

{% block title %}Query Student{% endblock %}

{% block content %}
    <form action="/queryStudent" method="post">
        <input type="text" name="search" placeholder="Search">
        <input type="submit" value="Search">
    </form>
    <table style="width: 60%; margin-top: 20px" border="1">
        <td>名字</td>
        <td>年龄</td>
        {% for m in students %}
            <tr>
                <td>{{ m.name }}</td>
                <td>{{ m.age }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}